
/*selecionando todos os elementos, removendo margens e definindo a fonte padrão da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f2f2f2;
    display: flex; /*deixar o container flexível */
    justify-content: center; /*centraliza horizontalmente */
    align-items: center; /*centraliza verticalmente */
    min-height: 100vh; /*deixa o conteudo do site sempre ocupando o mínimo do tamanho da tela*/
}

.container {
    width: 95%; /*faz a caixa principal ocupar a largura total em telas pequenas*/
    max-width: 480px; /*faz com design não fique grande demais em telas grandes*/
    background: #302f2f; 
    border-radius: 19px; /*deixa os cantos arrendondados*/ 
    padding: 25px; /*adiciona espaços para que o conteudo não fique colado na tela*/
    text-align: center;
    box-shadow: 0 4px 18px rgba(red, green, blue, alpha); /*efeito de sombra*/
}

header img {
    width: 100%;
    max-width: 500px; /* tamanho máximo da logo */
    height: auto; /* mantém proporção */
    margin: 0 auto;
    display: block;
}

.menu {
    margin: 37px 0;
    display: grid;
    gap: 15px; /*define os espaços entre os botões*/
    grid-template-columns: repeat(2, 1fr); /*cria duas colunas iguais ficando alinhadas*/
}

.btn {
    background: #e6e6e6; /*deixar os botões com uma sombra branca em meio ao cinza escuro*/
    border: none; /*deixa a borda arredondada*/
    border-radius: 12px;
    padding: 20px;
    font-size: 1rem;
    cursor: pointer; /*muda o cursor ao passar o mouse*/
    transition: 0.25s ease-in-out; /*deixa os efeitos suaves*/
    color: #333;
}

.btn i {
    font-size: 1.7rem;
    margin-bottom: 8px;
    color: #555; /*ficam maiores e com cor cinza mais escuro*/
}

.btn:hover {
    background: #d4d4d4; /*muda levemente a cor ao passar o mouse*/
    transform: translateY(-3px); /* faz um efeito levantando o botão para cima*/
}

.icon-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 8px;
}

/*responsividade*/
@media(max-width: 380px) {
    .menu {
        grid-template-columns: 1fr; /*quando a tela for muito pequena faz com que mude para duas colunas*/
    }
}

footer p {
    font-size: 0.85rem; /*tamanho menor para textos de direitos autorais*/
    color: #666; /*cor leve para não competir com o conteúdo principal*/
    margin-top: 10px;
}

.login-card {
    background-color:#302f2f;
}